@inject IConfiguration Configuration

<AuthorizeView>
    <Authorized Context="authentication">
        <span class="customer-name">@(authentication.User.Identity?.Name ?? "Customer")</span>
        @if (!UseDevelopmentIdentity)
        {
            <a href="authentication/logout">Sign out</a>
        }
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Sign in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool UseDevelopmentIdentity =>
        Configuration.GetValue("Authentication:UseDevelopmentIdentity", false);
}
